
.navbar-menu {
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 450px) {
  .navbar-menu {
    flex-direction: column;
  }
}
.navbar-menu > .item {
  position: relative;
  text-align: center;
  transition-duration: 0.25s;
}


.navbar-menu.-fillable > .item {
  background-image: linear-gradient(to bottom, transparent 50%, #333 50%);
  background-position: top;
  background-size: 100% 200%;
}
.navbar-menu.-fillable > .item:hover,
.navbar-menu.-fillable > .item.-active {
  background-position: bottom;
  color: #fff;
}
.navbar-menu.-zoom > .item:hover,
.navbar-menu.-zoom > .item.-active {
  background-color: rgba(51,51,51,0.1);
  transform: scale(1.1);
}

.title {
  font-size: 12px;
  padding: 15px;
}
html {
  color: #333;
  font-family: sans-serif;
  text-align: center;
}
h1 {
  line-height: 4rem;
  font-size: 2rem;
}
